<<<<<<< HEAD
<p>The date is<%= Date.today.strftime("%A, %B %d, %Y") %></p>

<%-# https://apidock.com/ruby/DateTime/strftime -%>
=======
<p>The date is <%= Date.today.strftime("%A, %m %d, %Y") %></p>
>>>>>>> e709e34816d0a393ab904188126bf206153dea82
